# Tests related chain files
tests/data/chaindata/
tests/data/dapp/
tests/data/nodekey
tests/data/history
tests/data/keystore
tests/genesis_block.json

# Tests save files and output
tests/data/saved
tests/out.log.geth

# Ignore created javascript files
tests/deploy.js
tests/fund.js
tests/proposal.js
tests/accounts.js
tests/rewards.js
tests/split.js

# python metadata in tests
tests/*.pyc